input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginbutton {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.loginbutton:hover {
    opacity: 0.8;
}

.avatarcontainer {
    text-align: center;
    margin: 15px 0 10px 0;
}

.avatarimage {
    width: 50%;
    border-radius: 50%;
}

.container1{
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    padding: 16px;
    border-radius: 15px;

    background: linear-gradient(to top, #7579ff, #b224ef);
}